<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Thêm nhân viên</h1>

    <form id="form">
      Tên<br />
      <input name="name" /><br />

      SĐT<br />
      <input name="phone" /><br /><br />

    <script>
       document.getElementById("form").onsubmit = async (e) => {
        e.preventDefault();

        const canvas = document.getElementById("canvas");

        canvas.toBlob(async (blob) => {
          const formData = new FormData();

          formData.append("name", e.target.name.value);
          formData.append("phone", e.target.phone.value);

          if (blob) formData.append("image", blob, "photo.png");

          await fetch("/api/staffs", {
            method: "POST",
            body: formData,
          });

          location.href = "/admin/staff";
        });
      };
    </script>
  </body>
</html>
