<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Danh sách gói tập</h1>

    <a href="/admin/package/create">Thêm gói tập</a>
    <ul id="list"></ul>

    <script>
      async function loadCustomers() {
        const res = await fetch("/api/package");

        const data = await res.json();

        const list = document.getElementById("list");

        list.innerHTML = "";

        data.forEach((p) => {
          const li = document.createElement("li");

          li.innerHTML = `
${p.id} - ${p.name}
<a href="/admin/package/edit?id=${p.id}">Sửa</a>
`;

          list.appendChild(li);
        });
      }

      loadCustomers();
    </script>
  </body>
</html>
