<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Exotic Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <style>
      .customer-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: start;
      }

      .form-left {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .form-left input {
        padding: 8px;
      }

      .save-btn {
        margin-top: 10px;
        padding: 10px;
        background: #27ae60;
        border: none;
        color: white;
        border-radius: 6px;
        cursor: pointer;
      }

      .form-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    </style>
  </head>

  <body>
    <div class="admin">
      <!-- SIDEBAR -->
      <aside class="sidebar">
        <h2>EXOTIC CENTER</h2>

        <nav>
          <a href="/admin">Dashboard</a>
          <a href="/admin/checkin" target="_blank">Trang Checkin</a>
          <a href="/admin/customer">Khách hàng</a>
          <a href="/admin/invoice">Hóa đơn</a>
          <a href="/admin/package">Gói tập</a>
          <a href="/admin/staff">Nhân Viên</a>
          <a href="/admin/invoice/create" target="_blank">Tạo Hóa đơn</a>
        </nav>
      </aside>

      <!-- CONTENT -->
      <main class="content">
        <div class="page-header">
          <h1>Thêm Nhân Viên</h1>
        </div>

        <div class="card">
          <form id="form" class="customer-form">
            <!-- LEFT -->
            <div class="form-left">
              Tên<br />
              <input id="name" name="name" /><br />

              SĐT<br />
              <input id="phone" name="phone" /><br /><br />
              <button class="save-btn">Save</button>
            </div>
          </form>
        </div>
      </main>
    </div>

    <script>
      async function loadUser() {
        try {
          const res = await fetch("/me");
          const data = await res.json();
          // Chưa đăng nhập -> đá về login
          if (!data.logged || !data.authorized) {
            window.location.href = "/404";
            return;
          }
          // Hiển thị thông tin nếu hợp lệ
          const user = data.user;
          const displayName = user.staff_name || "Admin";
          document.getElementById("username").innerText = displayName;
          const avatarElement = document.getElementById("avatar");

          if (user.role === "staff" || user.id_receptionist) {
            // Nếu là nhân viên
            avatarElement.src = `/photos/staff/${user.image || "default.png"}`;
          }
          // (Tùy chọn) Ẩn hiện tính năng dựa trên Role cụ thể
          if (data.user.role === "admin") {
            console.log("Chào sếp!");
          }
        } catch (error) {
          console.error("Lỗi kết nối:", error);
        }
      }

      async function logout() {
        await fetch("/logout");
        window.location.href = "/login";
      }

      loadUser();

      document.getElementById("form").onsubmit = async (e) => {
        e.preventDefault();
        const nameInput = document.getElementById("name");
        const phoneInput = document.getElementById("phone");

        await fetch("/api/staff", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name: nameInput.value,
            phone: phoneInput.value,
          }),
        });
        location.href = "/admin/staff";
      };
    </script>
  </body>
</html>
