<!DOCTYPE html>
<html>
  <head>
    <title>Camera Web</title>
  </head>
  <body>
    <h2>Camera Demo</h2>

    <video id="video" width="400" autoplay></video>
    <br /><br />

    <button onclick="takePhoto()">Chụp ảnh</button>

    <br /><br />

    <canvas id="canvas" width="400" height="300" style="display: none"></canvas>
    <img id="photo" />

    <script>
      const video = document.getElementById("video");

      // bật camera
      navigator.mediaDevices
        .getUserMedia({ video: true })
        .then((stream) => {
          video.srcObject = stream;
        })
        .catch((err) => {
          console.log("Không mở được camera:", err);
        });

      function takePhoto() {
        const canvas = document.getElementById("canvas");
        const context = canvas.getContext("2d");

        context.drawImage(video, 0, 0, canvas.width, canvas.height);

        const img = document.getElementById("photo");
        img.src = canvas.toDataURL("image/png");
      }
    </script>
  </body>
</html>
